set editing-mode vi

# vi settings
$if mode=vi
  set keymap vi-insert
  "kj": vi-movement-mode # remap escape
$endif

# up and down keys show prefixed history
"\e[A": history-search-backward
"\e[B": history-search-forward
